.btn {
    padding: 6px 12px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 18.96px;
    font-weight: 400;
    background-color: inherit;
    border: 0px;
    border-radius: 5px;
    height: 40px;
    width: 200px;
}

.btn-primary {
    background-color: #007FBA;
    color: white;
}

.btn-primary:hover {
    background-color: #007fbabd;
}

.btn-secondary {
    border: 1px solid #007FBA;
    color: #007FBA;
}

.btn-secondary:hover {
    background-color: #007FBA;
    color: white;
}

.btn-max-width{
    width: 100%;
}