
.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
    font-family: 'Rubik', sans-serif;
}

.table thead tr th,
.table tfoot tr td  {
    background-color: #F1F4F5;    
    color: #455A64;
    height: 50px;
    font-size: 14px;
    font-weight: 500;
    padding-left: 16px;
    text-align: left;
}

.table thead tr th {
    border-bottom: 1px solid #EBEDEE;
}

.table tfoot tr td {
    padding: 0px;
    line-height: 20px;
}

.table tbody tr td {
    border-bottom: 1px solid #EBEDEE;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.59px;
    text-align: left;
}

.table .selected,
.table tbody tr:hover {
    background-color: #F9FAFB;
}

.table tbody tr:hover td {
    background-color: #F9FAFB;
}
