.image_uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 241px;
    border: 2px dashed #CFD8DC;
    border-radius: 5px;
    cursor: pointer;
}

.upload_placeholder {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    margin-bottom: 17px;
}

.title {
    font-size: 20px;
    line-height: 23.7px;
    font-weight: 500;
    color: #455A64;
    margin-bottom: 4px;
}

.subtitle {
    font-size: 14px;
    line-height: 16.59px;
    font-weight: 400;
    color: #455A64;
}

.label{
    font-size: 20px;
    line-height: 23.7px;
    font-weight: 500;
    color: blue;
    margin-bottom: 4px;    
    text-decoration: underline;
}