

.product_group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin: 12px 24px;
}

.product_name {
    width: 300px;
    font-size: 14px;
    line-height: 16.59px;
    font-weight: 400;
    color: #455A64;
}


.table_actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 24px 16px;
}

