
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Rubik', sans-serif;
}

.product{
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 345px;
}

.product_image{
    text-align: right;
    width: 100%;
}

.product_info{
    width: 100%;
}

.title{
    width: 250px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.44px;
    margin-bottom: 8px;
}

.product_name{
    width: 250px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.33px;
    margin-bottom: 8px;
}

.product_description{
    width: 250px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.59px;
    margin-bottom: 16px;
}

.product_price1{
    width: 250px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.33px;    
}

.line_through {
    text-decoration: line-through;
}

.product_price2{
    width: 250px;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.44px;
}

.actions{
    display: flex;
    gap: 10px;
}


